<div ng-app="app">
    <div ng-controller="todosCtrl">

        <p>{{ message }}</p>

        <input ng-model="message" type="text" name="" value="">

        <div id="tasks">
            <h3>Todo List:</h3>
            <div ng-repeat="task in tasks track by index">
                <p ng-click="removeTask($index)">{{ task }}</p> <span><input ng-model="task" type="text" name="" value=""></span>
            </div>
        </div>

        <div>
            <input ng-model="newTask" type="text" name="" value="">
            <button ng-click="addTask(newTask)" type="button" name="button">Add a new task</button>
        </div>

    </div>
</div>
